argon2-cffi==21.3.0
attrs==22.1.0
backcall==0.2.0
bleach==5.0.1
cffi==1.15.1
cycler==0.11.0
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
ipykernel==6.17.1
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.17.3
jupyter==1.0.0
jupyter-client==7.4.8
jupyter-console==6.4.4
jupyter-core==5.1.0
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.6.2
mistune==2.0.4
nbconvert==7.2.6
nbformat==5.7.0
notebook==6.5.2
numpy==1.23.5
packaging==21.3
pandas==1.5.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.15.0
prompt-toolkit==3.0.33
ptyprocess==0.7.0
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.19.2
python-dateutil==2.8.2
pytz==2022.6
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
scipy==1.9.3
Send2Trash==1.8.0
six==1.16.0
terminado==0.17.1
testpath==0.6.0
tornado==6.2
traitlets==5.6.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==4.0.3
